@import "tailwindcss";

/* Enable ALL DaisyUI themes */
@plugin "daisyui" {
  themes: all;
}

/* Custom font definitions */
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}